header{
    margin-left: 256px;
    width: 100%;
    height: 56px;
}
.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
.customer-input{
    width: 70%;
    display: flex;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#3d4352;
    border-right: 1px solid rgb(0, 0, 0,0.16);
}
.customer-input .search-input{
    width:36%;
    background-color: #EFF4FF;
    border: none;
}

.new-customer{
    padding: 9px 15px 9px 15px;
    background-color: #FE6B00;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:15%;
    left:70%;

}
.userdetails h3{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    unicode-bidi: isolate;
}
.userdetails h5 {
    display: block;
    font-size: 0.50em;
    font-weight: 600;
    text-align: center;
    color: #475569;
    unicode-bidi: isolate;
}
.userimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;;
}
.userimg svg{
    height:38px;
    width: 38px;
}
.customers{
    max-width: 1200px;
    margin-left: 256px;
    margin-right: 10px;
    flex-direction: column;
    background-color: #F4F6FA;
    height:595px;
    flex: 10;
    overflow-x:hidden;
}
.customers-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 24px;
}
.cust-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cust-txt h1 {
    font-size: 25px;
    font-weight: 550;
    color: black;
    line-height: 90%;
}
.cust-txt p{
    font-size: 14px;
    font-weight: 500;
    color: #475569;
    margin-top: 5px;
}
.cust-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 12px;
    padding: 4px;
    background-color: #ebf1fb;
}
.cust-btns button{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px 16px;
    color: #3d4352;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.cust-btns button:hover{
    color: #000000;
}
.cust-btns button.active{
    background-color:#FFFFFF;
    border-radius: 8px;
    color: #000000;
}
.customer-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    gap:0.2rem;
    margin-top: 30px;
}
.c-cards{
    width:230px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.16);
    background-color: #FFFFFF;
}
.c-first{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.c-second{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}
.c-first p{
    font-size: 14px;
    font-weight: 500;
    color: #475569;
    margin: 0;
}
.tot-img{
    width: 24px;
    height: 24px;
    margin-right: 6px;
    color: #FE6B00;
}
.tot-img-2{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    color: #0E0069;
}
.tot-img-3{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    color: #000000;
}
.tot-img-4{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    color: #fde90d;
}


.c-second h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.c-second span{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #1a8037;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #E7F2EB;
}
.c-second .c-acc{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #C23030;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #F9ECE6;
}


.ctable-container{
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 12px;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0,0.16);
    height: 5rem;
}
.ctable-row{
    position: absolute;
    width: 100%;
    align-items: center;
    border-radius:10px 10px 0 0;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 3rem;
}
.ctable{
    width: 100%;
    padding: 10px;
    border-radius:10px 10px 0 0;
    background-color: #E5EEFF;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th{
    font-size: 14px;
    font-family: sans-serif;
    color: #627084;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
}