header{
    margin-left: 256px;
    width: 100%;
    height: 56px;
}
.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
.top{
    width: 70%;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#3d4352;
    border-right: 1px solid rgb(0, 0, 0,0.16);
}
.top .search-input{
    width: 36%;
    background-color: #EFF4FF;
    border: none;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:15%;
    left:70%;

}
.userdetails h3{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    unicode-bidi: isolate;
}
.userdetails h5 {
    display: block;
    font-size: 0.50em;
    font-weight: 600;
    text-align: center;
    color: #475569;
    unicode-bidi: isolate;
}
.userimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;;
}
.userimg svg{
    height:38px;
    width: 38px;
}

.dashboard{
    max-width: 1200px;
    margin-left: 256px;
    margin-right: 10px;
    flex-direction: column;
    background-color: #F4F6FA;
    flex: 10;
    overflow-x:hidden;
}
.dashboard-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 595px;
    width: 100%;
    padding: 24px;
    margin-left: 10px;
}
.dash-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greet .first{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
}
.greet .second{
    font-size: 16px;
    font-weight: 500;
    color: #475569;
    margin-top: 2px;
}
.second b{
    color: #000000;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.export-btn{
    position: relative;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #DCE9FF;
    font-weight: 600;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
.custom-btn{
    padding: 10px;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #000000;
    font-weight: 600;
    align-items: center;
    border-radius: 10px;
    color:#FFFFFF;
    border: none;
    margin-left: 15px;
}


.firstrow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:0.2rem;
    margin-top: 30px;
}

.firstrow-cards{
    width:230px;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.16);
    background-color: #FFFFFF;
}
.ig1{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #DCE9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #1E2023;
}
.ig2{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #DCE9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #1E2023;
}
.ig3{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #DCE9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #1a8037;
}
.ig4{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #DCE9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #c03030;
}
.pn{
    width: 118px;
    font-size: 14px;
    font-family: 'inter' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #475569;
    font-weight: 100;
    margin-top: 5px;
}
.pd{
    font-size: 24px;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #131720;
    margin-top: 5px;
}
.status{
    background-color: #E7F2EB;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a8037;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0px 0px 10px;
}
.status-1{
    background-color: #F9ECE6;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c03030;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0px 0px 10px;
}
.status-2{
    background-color: #E7F2EB;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a8037;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0px 0px 10px;
}
.status-3{
    background-color: #F9ECE6;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c03030;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0px 0px 10px;
}
.pd svg{
    width:20px;
    height: 19px;
}

.secondrow{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    flex-direction: row;
    margin-top: 30px;
    gap:0.2rem;
}
.secondrow-cards{
    width:230px;
    height: 90px;
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.16);
    background-color: #FFFFFF;
}
.ig5{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #22C35D;
}
.ig6{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #EF4343;
}
.ig7{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #22C35D;
}
.ig8{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #EF4343;
}
.txt2{
    margin-left: 5px;
}
.pd2{
    font-size: 24px;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #131720;
    margin-top: 10px;
}
.third-container{
    display: grid;
    flex-direction: column;
    width:100%;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:2rem;
}
.revenue{
    grid-column: span 2 / span 2;
    background-color: #FFFFFF;
    border-radius: .75rem;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0,0.16);
}
.rvse{
    display: flex;
    align-items: center;
}
.rvse .point{
    display: flex;
    align-items: center;
    color: #000000;
    margin-left:30px;
}
.point svg{
    height:25px;
    width: 25px;
}
.revenue h3{
    display: block;
    font-size: 16px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.revenue p{
    font-size: 16px;
    font-weight: 100;
    color: #7f8286;
    margin-top: 2px;
}
.chart-container{
    width: 100%;
    height:300px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}

.activity{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: .75rem;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0,0.16);
}
.activity h3{
    display: block;
    font-size: 16px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.activity p{
    font-size: 16px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    font-weight: 100;
    color: #475569;
}
