header{
    margin-left: 256px;
    width: 100%;
    height: 56px;
}
.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
.invoice-input{
    width: 70%;
    display: flex;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#3d4352;
    border-right: 1px solid rgb(0, 0, 0,0.16);
}
.invoice-input .search-input{
    width:36%;
    background-color: #EFF4FF;
    border: none;
}

.new-invoice{
    padding: 12px 24px;
    background-color: #FE6B00;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    color: #572000;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:15%;
    left:70%;

}
.userdetails h3{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    unicode-bidi: isolate;
}
.userdetails h5 {
    display: block;
    font-size: 0.50em;
    font-weight: 600;
    text-align: center;
    color: #475569;
    unicode-bidi: isolate;
}
.userimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;;
}
.userimg svg{
    height:38px;
    width: 38px;
}
.invoices{
    max-width: 1200px;
    margin-left: 256px;
    margin-right: 10px;
    flex-direction: column;
    background-color: #F4F6FA;
    height:595px;
    flex: 10;
    overflow-x:hidden;
}
.invoices-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 24px;
}
.inv-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inv-txt h1 {
    font-size: 25px;
    font-weight: 550;
    color: black;
    line-height: 90%;
}
.inv-txt p{
    font-size: 14px;
    font-weight: 500;
    color: #475569;
    margin-top: 5px;
}

.invoice-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    gap:24px;
    margin-top: 30px;
}
.i-cards{
    width:100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.16);
    background-color: #FFFFFF;
}
.i-first{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.i-second{
    display: flex;
    flex-direction: column;
}
.i-second p{
    font-size: 14px;
    font-weight: 500;
    color: #475569;
    margin-top: 5px;
}
.i-img{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #F8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #BA1A1A;
}


.i-img-2{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #E7F2EB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #15803D;
}
.i-img-3{
    width: 40px;
    height: 40px;
    border-radius:5px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #000000;
}



.i-second h3 {
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.i-second svg{
    width: 16px;
    height: 16px;
    color: #475569;
}
.i-first span{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #BA1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 15px;
    background-color: #F8E8E8;
}
.i-first .vsly{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #15803D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 15px;
    background-color: #E7F2EB;
}
.i-second .i-acc{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #C23030;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #F9ECE6;
}


.ctable-container{
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 12px;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0,0.16);
    height: 5rem;
}
.ctable-row{
    position: absolute;
    width: 100%;
    align-items: center;
    border-radius:10px 10px 0 0;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 3rem;
}
.ctable{
    width: 100%;
    padding: 10px;
    border-radius:10px 10px 0 0;
    background-color: #E5EEFF;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th{
    font-size: 14px;
    font-family: sans-serif;
    color: #627084;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
}