header{
    margin-left: 256px;
    width: 100%;
    height: 56px;
}
.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
.page-name{
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#131720;
}
.page-btn{
    position: absolute;
    top:20%;
    left:70%;
    padding: 8px 12px;
    font-family: 'inter' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F9FAFB;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0,0.16);
}
.page-btn:hover{
    color:white;
    background-color: #F97415;
}
.reports{
    max-width: 1200px;
    margin-left: 256px;
    margin-right: 10px;
    flex-direction: column;
    background-color: #F4F6FA;
    height:595px;
    flex: 10;
    overflow-x:hidden;
}
.reports-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 24px;
}
.reports-top-container{
    width:100%;
    background-color: #131720;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
