header{
    margin-left: 256px;
    width: 100%;
    height: 56px;
}
.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
.customer-input{
    width: 70%;
    display: flex;
    font-family: 'poppins' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#3d4352;
    border-right: 1px solid rgb(0, 0, 0,0.16);
}
.customer-input .search-input{
    width:36%;
    background-color: #EFF4FF;
    border: none;
}

.new-customer{
    padding: 9px 15px 9px 15px;
    background-color: #FE6B00;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:15%;
    left:70%;

}
.userdetails h3{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    unicode-bidi: isolate;
}
.userdetails h5 {
    display: block;
    font-size: 0.50em;
    font-weight: 600;
    text-align: center;
    color: #475569;
    unicode-bidi: isolate;
}
.userimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;;
}
.userimg svg{
    height:38px;
    width: 38px;
}
.vehicles{
    max-width: 1200px;
    margin-left: 256px;
    margin-right: 10px;
    flex-direction: column;
    background-color: #F4F6FA;
    height:595px;
    flex: 10;
    overflow-x:hidden;
}
.vehicles-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 24px;
}
.veh-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.veh-txt h1 {
    font-size: 25px;
    font-weight: 550;
    color: black;
    line-height: 90%;
}
.veh-txt p{
    font-size: 14px;
    font-weight: 500;
    color: #475569;
    margin-top: 5px;
}
.v-btn-2{
    padding: 12px 16px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -ms-flex-item-align: center;
    border: none;
    gap:5px;
    margin-left: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.v-btn-1{
    padding: 12px 16px;
    background-color: #DCE9FF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -ms-flex-item-align: center;
    border: none;
    gap:5px;
    margin-left: 20px;
    color: #000000;
    cursor: pointer;
    outline: none;
}
.vehicle-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    gap:0.4rem;
    margin-top: 30px;
}
.v-cards{
    width:230px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.16);
    background-color: #FFFFFF;
}
.v-first{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.v-second{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.v-first p{
    font-size: 16px;
    font-weight: 500;
    color: #475569;
    margin: 0;
}
.v-img{
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border-radius: 15px;
    background-color: #E2DFFF;
}
.v-img-2{
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #7A3000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border-radius: 15px;
    background-color: #FFDBCC;
}
.v-img-3{
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #7A3000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border-radius: 15px;
    background-color: #FFDBCC;
}
.v-img-4{
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #3A35A7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border-radius: 15px;
    background-color: #E2DFFF;
}


.v-second h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.v-second span{    
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: end;
    margin-left: 6px;
}
.v-second .c-acc{    
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #C23030;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #F9ECE6;
}


.vtable-container{
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 12px;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0,0.16);
    height: 150px;
}
.vtable-row{
    position: absolute;
    width: 100%;
    align-items: center;
    border-radius:10px 10px 0 0;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 3rem;
}
.vtable{
    width: 100%;
    padding: 10px;
    border-radius:10px 10px 0 0;
    background-color: #E5EEFF;
    border-bottom: 1px solid rgb(0, 0, 0,0.16);
}
tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th{
    font-size: 14px;
    font-family: sans-serif;
    color: #627084;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
}
.vehicles-detail{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    text-align: center;
    padding: 40px 0px;
    margin-top: 0px;
}
.vehicle-btns{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    margin-top: 20px;
}
.vehicle-btns button{
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 18px;
    font-weight: 400;
    line-height:16px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #0B1C30;
    background-color: #deeafc;
}
.vehicle-btns button:hover{
    background-color: #D3E4FE;
}
.vehicle-btns button.active{
    background-color:#000000;
    color: #ffffff;
}